@import url('https://fonts.googleapis.com/css?family=Oxygen:300');


body {
  background-color:#fbfbfd;
  font-family: 'Oxygen', sans-serif;

}
#logo {
  position: relative;
  height:200px;
  width:200px;
  margin: 66px auto;
}
.logo-b {
  width:50%;
  height:100%;
  clip-path: polygon(50% 0%, 100% 75%, 50% 100%, 0% 75%)
}
.logo-r {
  position:absolute;
  width:75%;
  height:100%;
  clip-path: polygon(0% 0%, 66.66% 0%, 100% 25%, 66.66% 50%, 100% 75%, 66.66% 100%, 33.33% 75%);
  margin-left:-25%;

}

.thename{
  font-size:2.3em;
}

.thedescription{
  font-size:1.2em;
}


#projects {
  padding-top: 11em;
    text-align: center;
}

.project-card {
  padding-bottom: 1.5em;
  display: block;

}

.project-card .name {
    color: rgb(82, 83, 122);
    display: block;
    font-size: 1.25em;
    font-weight: 400;
}

.project-card .desc {
  color: rgb(82, 83, 122);
  display: block;
  font-size: 1.05em;
  max-width: 55%;
  margin: auto;
  padding-top: 0.3em;
}

.project-card .links {
  padding-top: 0.2em;
  display: block;
}
.project-card .links a {
  text-decoration: none;
  color: #4a799c;
  font-weight: 600;
  font-size: 1em;
  display: block;
}
